/* Global Styles*/
*{
    box-sizing: border-box;

}

body {
    margin:0;
    font-family:'Courier New', Courier, monospace;
}

img {
    width: 100%;
    height: auto;
}

/* Flexbox container and item styles*/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* no wrap for horzintal scroll for my midterm and we want wrap hidden*/
    border: 1px solid purple;
    background-color: rgba(255,0,255,0.2);
    min-height: 400px;

}

.item {
    /*flexitem properties*/
    width: 21%;
    height: 200px;
    border: 1px solid cornflowerblue;

    background-color: rgba(0, 73, 208, 0.2);
}

/*atomic css design pattern*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Justify CONTENT horizontal */
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-even {
    justify-content: space-evenly;
}
/* Align items */
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-center { 
    align-items: center;
}
.align-stretch {    
    align-items: stretch;
}
.align-around {
    align-content: space-around;      
}
.align-self{
    align-self:stretch;
    /* needed when flex items have set height*/
    height:auto;
} 
.align-even {
    align-content: space-evenly;
}   
/* Responsive Styles  smaller than 768or= is a phone*/
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;

    }
    /* this is needed to override flex item width on smaller screens */
    .item, .align-self {
        height: 300px;
        width: auto;


    }
}
/*classic layout */
