/* global styles */

body {
    margin: 0;
    font-family: 'Special Elite';
    background: #F3EED7;
}
header {
    background: #ffa0ac;
    padding-top:10px;
    text-align: center;

}
h1 {
    text-align: center;
    color: #321F12;
    
}




nav ul {
    list-style: none;
    padding: .2rem;
    margin: 0;
    background: #321F12;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #F3EED7;
    text-decoration: none;
    padding: 12px;
    display: block;
}

.home-tab {
    background: #321F12;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    left: 0px;
    z-index: 3;
}

.gal-tab {
    background: #A15D66;
    left: -20px;
    border-radius: 14px 14px 14px 14px;
    z-index: 2;
}

.shop-tab {
    background: #808249;
    border-radius: 14px 14px 14px 14px;
    left: -40px;
    z-index: 1;
}



nav a:hover {
    z-index: 100;
    transform: scale(2);
    transition: transform .50s ease;

}




.gallery {
    padding-top:2rem;
    width: 900px;
    margin: auto;
    text-decoration-color: #321F12;
}


/* card style*/

.gallery div {
    display: inline-block;
    width: 340px;
    margin: 15px;
    padding: 15px ;
    background: #a6a960;
    border: 2px solid #321F12;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}


/* img */

.gallery img {
    width: 100%;
    display: block;
    border-radius: 10px;
}
p{
    text-align: center;
    color: #321F12;
    font-size: 14px;
}

/* the scattered look  */

.gallery div.dudes {
    transform: rotate(-8deg);
}

.gallery div.banana {
    transform: rotate(6deg);
}

.gallery div.emo {
    transform: rotate(-5deg);
}

.gallery div.redeyes {
    transform: rotate(10deg);
}

.gallery div.sunflow {
    transform: rotate(-7deg);
}
.gallery div.gramps {
    transform: rotate(5deg);
}
.gallery div.chicago {
    transform: rotate(-6deg);
}
.gallery div.face {
    transform: rotate(8deg);
}
.gallery div.wall {
    transform: rotate(-3deg);
}
.gallery div.watercolor {
    transform: rotate(-4deg);
}



/* hover over the div items */

.gallery div:hover {
    transform: rotate(0deg) scale(1.05);
    z-index: 10;
}

/* MOBILE / PHONE */

@media (max-width: 768px) {

h1 {
    font-size: 22px;
    margin-top: 20px;
}

/* navigation adjustments */

nav ul {
    flex-wrap: wrap;
}

nav li {
    margin: none;
}
nav a{
    padding: 8px;
    font-size: 20px;
}

nav a:hover {
    transform: none;
}


/*regular vertical scroll for gallery */

.gallery {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/*artwork cards show one at a time */

.gallery div {
    flex: 0 0 85%;
    margin: 0 10px;
    scroll-snap-align: center;
    transform: none;   /* removes rotation */
}


/*images */

.gallery img {
    width: 100%;
}


/* remove hover effects */

.gallery div:hover {
    transform: none;
}

}